body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

input {
    color: white;
    background-color: #4f8edc;
    text-align: center;
    font-family: "Tahoma", "Geneva", "Helvetica", clean, sans-serif;
    font-size: 14px/1.0;
    height: 30px;
    border: none;
    border-radius: 2px;
}
::-webkit-input-placeholder {
    color:white;
    opacity:0.7;
}
input:focus::-webkit-input-placeholder { 
    color:transparent; }

div.vcenterParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.floatleft { 
    float: left; 
    height:50px; 
    margin: 10px;
}
